            body {
                background-color: #1F2E35;
                color: azure;
            }

            .logo {
                margin: 3%;
                position: relative;
            }


            h1 {
                font-family: Poppins;
            }

            .headerContainer {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .headerContainer img {
                margin-right: 10px;
                padding: 0px 6vw;

            }

            .plogo {
                display: flex;
                align-items: center;
            }

            .navving {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 10px;
            }

            .navving button {
                margin-right: 10px;
            }

            .navving a {
                margin-right: 12px;
                font-family: Poppins;
                ;
            }

            .navving img {
                width: 30px;
                height: 25px;
                margin-left: -50px;
            }



            /* .navbar {
                position: absolute;
                right: 10px;
                top: 20px;
                font-size: larger;
                text-decoration: none;
                font-family: Poppins;
                font-style: normal;
                font-weight: 400;
                color: white;
            } */

            a {
                text-decoration: none;
                color: white
            }



            button {
                background-color: #2E8B57;
                color: whitesmoke;
                padding: 30px #2E8B57;
                border: 10px #2E8B57;
                cursor: pointer;

                height: 43px;
                width: 102px;

                border-radius: 4px;

            }

            .btn {
                background-color: transparent;
                border: 1px solid #BCD0E5;
            }

            /*.clients {
                position: absolute;
                padding: 16px;
                left: 500px;
            }*/

            .clients h2 {
                text-align: center;
            }

            .clients div {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            h2 {
                font-family: 'Poppins';
            }

            p {
                font-family: 'Poppins';
            }

            .clients img {
                width: 150px;
                margin: 0px 50px;
            }



            .products {
                background-color: #22343D;
                padding: 50px 6vw;

                margin-top: 15px;
            }

            .products h2 {
                text-align: center;
            }

            .gridOutline {
                display: flex;
                align-items: stretch;
                margin-top: 60px;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .outline1,
            .outline2,
            .outline3 {
                outline: white 1px solid;
                padding: 10px;
                border: 2px solid;
                min-width: 250px;
                flex: 1;
                margin: 20px 0;
            }

            .outline2 {
                margin: 20px;
            }

            .how {
                padding: 50px 6vw;

                margin-top: 15px;

            }

            .how h2 {
                text-align: center;
            }

            .step1grid {
                display: flex;
                justify-content: space-between;
                margin: 50px 0;

            }


            .step1 {
                flex: 1;
                display: flex;
                justify-content: center;
            }

            .step2grid {
                display: flex;
                justify-content: space-between;
            }

            .step1word {
                flex: 1;
            }

            .step2img {
                width: 300.4px;
                margin-left: 350px;
                margin-bottom: 80px;
            }

            .step3grid {
                display: flex;
                justify-content: space-between;
            }

            .step3img {
                width: 300.4px;
                margin-right: 350px;
                margin-bottom: 80px;
            }

            .btn-lg {
                background-color: #02897A;
                padding: 10px;
                border: 10px;
                outline: auto #02897A;
                cursor: pointer;
                width: 200px;
                justify-content: center;
                margin-left: 400px;
                border-radius: 7px;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .joinContainer {

                background-color: #22343D;
                width: 1900px;

            }

            .joinContainer h2 {
                text-align: center;
            }

            .joinContainer a {
                list-style: none;
                text-decoration: none;
            }

            .splitgrid {
                display: flex;
                align-items: stretch;
                margin-top: 60px;
                justify-content: space-between;

            }

            .borderHolder {
                border: solid 5px #02897A;
                width: 40%;
                height: 80px;
                border-radius: 19px;
                padding: 100px;
                top: 400%;
                left: 250px;
                background-color: #02897A;
            }

            .wordHolder {
                font-style: normal;
                font-weight: 600;
                font-size: 19px;
                line-height: 30px;
            }

            #butt {
                border: solid 5px white;
                width: 40%;
                border-radius: 10px;
                padding: 10px;
                background-color: white;
                color: black;
            }

            .borderHolder img {
                width: 90%;
                height: 200px;
                float: right;
            }

            .bordergrid {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            footer {
                top: 2900px;
            }

            .footHolder {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }

            input[type='email'] {
                Width: 305px;
                Height: 38px;
                border: 1px solid #BCD0E5;
                border-radius: 4px;
            }

            input[type="submit"] {
                background-color: #02897A;
                border-radius: 4px;
                color: white;
                width: 139px;
                height: 30px;
            }